[submodule "exportfig"]
	path = exportfig
	url = https://github.com/altmany/export_fig.git
[submodule "jsonlab"]
	path = jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "matlab2tikz"]
	path = matlab2tikz
	url = https://github.com/matlab2tikz/matlab2tikz.git
